## Importing libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

### Loading dataset

In [2]:
data = pd.read_csv('dataset.csv')
data.head()

   0   1   2  3  4   5  6  7    8  9  10  11
0  7  21  30  2  3  29  2  3   57  5   1   0
1  7  32  70  2  4  67  2  4  132  5   1   0
2  7  15   1  2  2   0  2  2    0  5   1   0
3  7  33  77  2  7  72  2  7  142  5   1   0
4  7  55  78  3  7  73  3  7  144  6   1   0

In [3]:
y = data.iloc[:,0].values
x = data.iloc[:,1:].values
x,y

(array([[  21,   30,    2, ...,    5,    1,    0],
        [  32,   70,    2, ...,    5,    1,    0],
        [  15,    1,    2, ...,    5,    1,    0],
        ...,
        [  82,   14,    7, ...,    1,    0,    1],
        [  30,   62,    2, ...,    3,    0,    0],
        [  30,   62,    2, ...,    7,    0, 9156]], dtype=int64),
 array([7, 7, 7, ..., 7, 7, 7], dtype=int64))

### Scaling the dataset

In [4]:
sc = StandardScaler()
x_sc = sc.fit_transform(x)