## Importing Libraries

In [61]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Loading dataset

In [62]:
data = pd.read_csv('dataset.csv')
data

        Unnamed: 0  0   1   2  3   4   5  6   7    8  9  10     11
0                0  7  21  30  2   3  29  2   3   57  5   1  10609
1                1  7  32  70  2   4  67  2   4  132  5   1  10609
2                2  7  15   1  2   2   0  2   2    0  5   1  10609
3                3  7  33  77  2   7  72  2   7  142  5   1  10609
4                4  7  55  78  3   7  73  3   7  144  6   1  10609
...            ... ..  ..  .. ..  ..  .. ..  ..  ... ..  ..    ...
355897      355897  7  25  46  2  15  45  4  15   90  7   0   9066
355898      355898  7  82  14  7  10   8  0  10   16  0   0  10607
355899      355899  7  82  14  7  10   8  0  10   17  1   0  10621
355900      355900  7  30  62  2  20  60  3  20  120  3   0      0
355901      355901  7  30  62  2  20  61  4  20  121  7   0   9717

[355902 rows x 13 columns]

### Data Preprocessing

In [63]:
data.drop(columns = "Unnamed: 0", inplace = True)
data.head()

   0   1   2  3  4   5  6  7    8  9  10     11
0  7  21  30  2  3  29  2  3   57  5   1  10609
1  7  32  70  2  4  67  2  4  132  5   1  10609
2  7  15   1  2  2   0  2  2    0  5   1  10609
3  7  33  77  2  7  72  2  7  142  5   1  10609
4  7  55  78  3  7  73  3  7  144  6   1  10609

In [64]:
y = data.iloc[:,0].values
x = data.iloc[:,1:].values
x,y

(array([[   21,    30,     2, ...,     5,     1, 10609],
        [   32,    70,     2, ...,     5,     1, 10609],
        [   15,     1,     2, ...,     5,     1, 10609],
        ...,
        [   82,    14,     7, ...,     1,     0, 10621],
        [   30,    62,     2, ...,     3,     0,     0],
        [   30,    62,     2, ...,     7,     0,  9717]], dtype=int64),
 array([7, 7, 7, ..., 7, 7, 7], dtype=int64))

### Splitting the dataset into training and testing

In [65]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

### Scaling the dataset

In [66]:
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_test_sc = sc.transform(x_test)

# Appliyng Machine Learning Algorithms

## Applying logistic regression

In [67]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [68]:
lr.fit(x_train_sc,y_train)

c:\users\hebbar\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Training accuracy

In [69]:
lr.score(x_train_sc,y_train)

0.9892179855090925

### Testing accuracy

In [70]:
lr.score(x_test_sc,y_test)

0.9883451717317029

## Applying KNN

In [71]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [72]:
knn.fit(x_train_sc,y_train)

KNeighborsClassifier()

### Training accuracy

In [73]:
knn.score(x_train_sc,y_train)

0.9944141822078029

### Testing accuracy

In [74]:
knn.score(x_test_sc,y_test)

0.9942119223161302

## Applying decision trees

In [75]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [76]:
dtc.fit(x_train_sc,y_train)

DecisionTreeClassifier()

### Training accuracy

In [77]:
dtc.score(x_train_sc,y_train)

0.9944366603478118

### Testing accuracy

In [78]:
dtc.score(x_test_sc,y_test)

0.9942119223161302

## Applying random forest

In [79]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [80]:
rfc.fit(x_train_sc,y_train)

RandomForestClassifier()

### Training accuracy

In [81]:
rfc.score(x_train_sc,y_train)

0.9944366603478118

### Testing accuracy

In [82]:
rfc.score(x_test_sc,y_test)

0.9942119223161302

## Applying naive bayes

In [83]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [84]:
nb.fit(x_train,y_train)

GaussianNB()

### Training accuracy

In [85]:
nb.score(x_train,y_train)

0.8913706420506058

### Testing accuracy

In [86]:
nb.score(x_test,y_test)

0.8908694479410179

## Applying SVM

In [87]:
from sklearn.svm import LinearSVC
svc = LinearSVC()

In [88]:
svc.fit(x_train_sc,y_train)

LinearSVC()

### Training accuracy

In [89]:
svc.score(x_train_sc,y_train)

0.9842802874204836

### Testing accuracy

In [90]:
svc.score(x_test_sc,y_test)

0.9835798417550801