In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('dataset.csv')
data

        Unnamed: 0  0   1   2  3   4   5  6   7    8  9  10     11
0                0  7  21  30  2   3  29  2   3   57  5   1  10609
1                1  7  32  70  2   4  67  2   4  132  5   1  10609
2                2  7  15   1  2   2   0  2   2    0  5   1  10609
3                3  7  33  77  2   7  72  2   7  142  5   1  10609
4                4  7  55  78  3   7  73  3   7  144  6   1  10609
...            ... ..  ..  .. ..  ..  .. ..  ..  ... ..  ..    ...
355897      355897  7  25  46  2  15  45  4  15   90  7   0   9066
355898      355898  7  82  14  7  10   8  0  10   16  0   0  10607
355899      355899  7  82  14  7  10   8  0  10   17  1   0  10621
355900      355900  7  30  62  2  20  60  3  20  120  3   0      0
355901      355901  7  30  62  2  20  61  4  20  121  7   0   9717

[355902 rows x 13 columns]

In [3]:
data.drop(columns = "Unnamed: 0", inplace = True)
data.head()

   0   1   2  3  4   5  6  7    8  9  10     11
0  7  21  30  2  3  29  2  3   57  5   1  10609
1  7  32  70  2  4  67  2  4  132  5   1  10609
2  7  15   1  2  2   0  2  2    0  5   1  10609
3  7  33  77  2  7  72  2  7  142  5   1  10609
4  7  55  78  3  7  73  3  7  144  6   1  10609

In [4]:
y = data.iloc[:,0].values
x = data.iloc[:,1:].values
x,y

(array([[   21,    30,     2, ...,     5,     1, 10609],
        [   32,    70,     2, ...,     5,     1, 10609],
        [   15,     1,     2, ...,     5,     1, 10609],
        ...,
        [   82,    14,     7, ...,     1,     0, 10621],
        [   30,    62,     2, ...,     3,     0,     0],
        [   30,    62,     2, ...,     7,     0,  9717]], dtype=int64),
 array([7, 7, 7, ..., 7, 7, 7], dtype=int64))

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

### applying logistic regression

In [6]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [7]:
lr.fit(x_train,y_train)

c:\users\hebbar\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

#### training accuracy

In [8]:
lr.score(x_train,y_train)

0.9774918891378135

#### testing accuracy

In [9]:
lr.score(x_test,y_test)

0.9778479590001798

### applying decison trees

In [10]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [11]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

#### training accuracy

In [12]:
dtc.score(x_train,y_train)

0.9943467477877764

#### testing accuracy

In [13]:
dtc.score(x_test,y_test)

0.9944704189893904

### applying random forest

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [15]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

#### training accuracy

In [16]:
rfc.score(x_train,y_train)

0.9943467477877764

#### testing accuracy

In [17]:
rfc.score(x_test,y_test)

0.9944816579751843

### applying naive bayes

In [18]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [19]:
nb.fit(x_train,y_train)

GaussianNB()

#### training accuracy

In [20]:
nb.score(x_train,y_train)

0.9022313300315443

#### testing accuracy

In [21]:
nb.score(x_test,y_test)

0.901928609962237

### applying SVM

In [22]:
from sklearn.svm import SVC
svc = SVC(kernel='poly')

In [ ]:
svc.fit(x_train,y_train)

#### training accuracy

In [ ]:
svc.score(x_train,y_train)

#### testing accuracy

In [ ]:
svc.score(x_test,y_test)